version: '3.9'
services:
  app:
    build: ./backend
    ports:
      - '4000:4000'
    env_file:
      - ./backend/.env.example
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    environment:
      NEXT_PUBLIC_API_URL: http://app:4000
    depends_on:
      - app
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: appsec
      POSTGRES_PASSWORD: securepass
      POSTGRES_DB: appsec_dashboard
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
